.create-container{
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

.create-container h1{
  text-align: center;
  font-size: 2rem;
}

.create-container button{
  width: 100%;
  margin: 1rem auto;
}

.container
{
  width: 90%;
  margin-right: auto;
  margin-left: auto
}

table{
  width: 100%;
}

.boxbuttonstec button{
margin: 5px;
}
