.form{
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.63);
  padding: 20px;
}

h1{
  font-size: 3rem;
  text-align: center;
}

.form-full-width{
  width: 100%;
}

.buttonbox{
  display: flex;
  justify-content: center;
}

button{
  width: 20%;
  padding: 20px;
  margin: 1rem .5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
